* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    background: linear-gradient(to top left, #28b487, #7dd56f);
  }
  header button {
    width: 50px;
    height: 25px;
    margin: 20px;
    border: none;
    border-radius: 15%;
    position: relative;
    background-color: black;
    cursor: pointer;
  }
  
  header button::before {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  
  header button.btn-toggle {
    background-color: white;
  }
  
  header button.btn-toggle::before {
    /* transform: translateX(30px); */
    left: 30px;

    background-color: black;
  }
  
  body.btn-toggle {
    background: black;
    
  }
  
.btns{
    position: relative;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }
  .show-modal:hover{
    background-color: #444;
    color:#fff ;
  }
  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1.8rem;
  }
  
  /* -------------------------- */
  /* CLASSES TO MAKE MODAL WORK */
  .hidden {
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 6rem;
    border-radius: 20px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  .modal.btn-toggle{
    background-color: black;
    color: #fff;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    backdrop-filter: blur(10px);
    /* z-index: 5; */
  }

  @media (max-width: 768px)  {
   .overlay{
    min-height: 120%;
   }
   html{
    box-sizing: content-box;
    font-size: 50%;
   }
   .btns{
    gap: 0;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
   }
  }